<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <http auto-config="true">
        <intercept-url pattern="/products/add" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/cart" access="isAuthenticated()"/>
        <intercept-url pattern="/checkout" access="isAuthenticated()"/>
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/db/**" access="hasRole('ADMIN') and hasRole('DBA')"/>

        <form-login login-page="/login"
                    username-parameter="ssoId"
                    password-parameter="password"
                    authentication-success-handler-ref="customSuccessHandler"/>
        <access-denied-handler error-page="/Access_Denied"/>
        <csrf disabled="true"/>
    </http>

    <beans:bean id="customSuccessHandler" class="com.rog.webshop.configuration.CustomSuccessHandler"/>

    <beans:bean id="bcryptEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>


    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="bcryptEncoder"/>
        </authentication-provider>
    </authentication-manager>


</beans:beans>